@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

a img {
    border-radius: 5%;
}

span {
    font-style: oblique;
    font-weight: bold;
}

ul a, p a { /* estilo dos links */
    text-decoration: none;
}

/*---------Novas modificações---------*/

.item-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; /*Fonte em negrito*/
}

.menu-header{
    background-color: rgb(240, 240, 240);
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 1; /*Ordem de reidenização*/
}

#nome {
    font-size: 1.2em;
    position: fixed;
    top: 11px;
    left: 20%;
    z-index: 2; /*Ordem de reidenização*/
}

#sobre{
    position: fixed;
    top: 12px;
    left: 50%;
    z-index: 2; /*Ordem de reidenização*/
}

#skills {
    position: fixed;
    top: 12px;
    left: 65%;
    z-index: 2; /*Ordem de reidenização*/
}

#contatos {
    position: fixed;
    top: 12px;
    left: 75%;
    z-index: 2; /*Ordem de reidenização*/
}

.image-header {
    display: block;
    width: 100%;
    height: 300px;
    background-image: url(./photos/laptop-g868224238_1920.jpg);
    background-size: cover; /*Alinha a imagem ao centro*/
    background-position: 40%;
    filter: blur(1.5px) grayscale() opacity(45%); /*Filtros da imagem (borrar/cinza/transparencia*/
    
}

.paragrafo-heading {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 70px;
    left: 20%;
    right: 20%;
    z-index: 3;
}

.trybe {
    color:  red;
}

button {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    background-color: red;
    border: 0px;
    padding: 15px;
    border-radius: 35px;
    position: absolute;
    top: 200px;
    /*Gambiarra para centralização do botão*/
    left: 50%;
    margin-left: -100px;
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
}

button:hover { /*Passar o cursor do mouse por cima*/
    font-size: 25px;
    margin-left: -115px;
    cursor: pointer;
}

h1 {
    font-family: 'Nunito', sans-serif;
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 900; /*Fonte em negrito*/
    text-transform: uppercase;
}