@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #ade8f4;
    font-family: 'Open Sans', sans-serif;
}

a img {
    border-radius: 5%;
}

span {
    font-style: oblique;
    font-weight: bold;
}

ul a, p a { /* estilo dos links */
    text-decoration: none;
}